<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="在线工具网站">
    <meta name="keywords" content="翻译">
    <meta name="author" content="fanny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/tree.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body>
<div id="top">1</div>
<div id="content">
    <ul>
        <li>2</li>
    </ul>
</div>
<div id="bottom">
    3
    <a href="http://www.bitbug.net/" target="_blank">
        <img src="http://www.bitbug.net/mypagerank.php?style=1" border="0" alt="My Google PageRank" />
    </a>
</div>
</body>
</html>